.header {
  border: 1px solid hsl(240, 60%, 80%);
  border-radius: 4px;
  padding: 4px;
}

.navigation {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navigation a:hover {
  color: hsl(267, 73%, 84%);
  text-decoration: underline;
}